<!DOCTYPE html>
<html>
<head>
    <title>Game</title>
</head>
<body>
    <h1>MadLib Game!!!</h1>
    <form action="/madlib">
        Tell us about yourself:<br>
        <br>
        I am:
        <select name="species">
            <option value="human">Human</option>
            <option value="computer">Computer</option>
            <option value="balloonicorn">Balloonicorn</option>
            <option value="elf">Elf</option>
            <option value="mermaid">Mermaid</option>
        </select>
        <br>
        <br>
        Choose any color:
        Ruby<input type="radio" name="color" value="ruby">
        Aqua<input type="radio" name="color" value="aqua">
        Olive<input type="radio" name="color" value="olive">
        Salmon<input type="radio" name="color" value="salmon">
        Terracotta<input type="radio" name="color" value="terracotta">
        <br>
        <br>
        <label>Given us a noun</label>
        <textarea name="noun"></textarea>
        <br>
        <br>
        <label>Given us an adjective</label>
        <textarea name="adjective"></textarea>
        <br>
        <br>
        <input type="submit">
    </form>









</body>
</html>